<main>
    <form>
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <!-- Just nu länkar denna bara till forumet!!! -->
          <a routerLink="/forum" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button type="submit" id="login">Log in</button></a>

          <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button type="button" id="register">Register</button></a>
        </div>
      </form>
</main>
