<main>
  <form>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input id="uname" name="uname" [(ngModel)]="username" placeholder="Enter Username" type="text" required>

      <label for="psw"><b>Password</b></label>
      <input id="psw" name="psw" [(ngModel)]="password" placeholder="Enter Password" type="password" required>

      <p *ngIf="message.length > 0">{{message}}</p>

      <button (click)="login()" id="login" type="submit" >Log in</button>

      <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button id="register" type="button">Register</button></a>
    </div>
  </form>
</main>
