<main>
    <div class="top_container">
        <app-search (searchTextChanged)="onSearchTextChanged($event)"></app-search>

        <!-- Just nu länkar denna bara tillbaka till index page!!! -->
        <button (click)="logout()" id="logout" type="button">Log out</button>

        <button type="button" (click)="showAdd()">Add post</button>
    </div>

    <!-- Displays a child component to add a forum post if the boolean is true. -->
    <div class="add_box" *ngIf="showAddBox">
        <app-add-post></app-add-post>
    </div>

    <ng-container *ngFor="let post of posts">
        <div class="forum_post" *ngIf="searchText === '' || post.content.toLowerCase().includes(searchText.toLowerCase()) || post.name.toLowerCase().includes(searchText.toLowerCase())">

            <div class="post_name"><b>{{ post.name }}</b></div>
            <div class="post_username">@{{ post.username }}</div>
            <div class="post_content">{{ post.content }}</div>
            
            <!-- Satte det till currentPost istället för post === postID, för att kolla läget så att det är en
            post som ska editas. Före: *ngIf="showEditBox && currentPost" -->

            <div class="edit_box" *ngIf="showEditBox && post.postId === currentPostId" > <!-- Göra detta till en child? -->
                <label>Edit content:<br>
                    <!--<textarea rows="5" cols="76" [(ngModel)]="post.content" name="content"></textarea>--> <!-- Lyckas inte lägga till default text(gamla content) här?-->
                    <input class="form-field" [(ngModel)]="content" name="content" required/>
                  </label>&nbsp;<br>
                <button type="button" (click)="submitEdit()">submit</button>
            </div> 

            <div class="post_btns" *ngIf="!showEditBox">
                <button type="button" (click)="like(post)" class="like"><img id="thumb_up" src="assets/img/thumb_up.png" alt="thumbs up button"></button>
                <p>{{ post.likes }}</p>
                <button type="button" (click)="dislike(post)" class="dislike"><img id="thumb_down" src="assets/img/thumb_down.png" alt="thumbs down button"></button>
                <p>{{ post.dislikes }}</p>
                <button type="button" (click)="deletePost(post)" *ngIf="loggedinUser=== post.username" class="delete">Delete</button>

                <!-- Ändrat till showEdit(post) för att sätta current post för editing. -->
                <button type="button" (click)="showEdit(post)" *ngIf="loggedinUser=== post.username" class="edit">Edit</button>
            </div>
        </div>
    </ng-container>
</main>
