.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(2, 45, 40);
    color:  white;
    font-family: 'Montserrat', sans-serif;
    margin-left: .4em;
    border-radius: 1em;
    font-size: .8em;
    padding-left: .35em;
    padding-right: .3em;
    border: 1px solid rgb(2, 45, 40);
}

.popup:hover {
    background-color: rgba(255, 255, 255, 0.705);
    color:  rgb(2, 45, 40);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(2, 45, 40);
}

.popup .popuptext {
    visibility: hidden;
    width: 230px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -121px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    padding-left: .4em;
    padding-right: .4em;
}
